apiVersion: v1
kind: ResourceQuota
metadata:
  name: app-quota
  namespace: app-{{ app_name }}
spec:
  hard:
    requests.cpu: "500m"
    requests.memory: "256Mi"
    limits.cpu: "1000m"
    limits.memory: "512Mi"
    pods: "6"
